header {
  border-bottom: solid 4px lightgrey;
  display: flex;
  justify-content: center;
  width: 100vw;
}

h1 {
  color: #0e3c7e;
  font-family: "Caveat", cursive;
  font-weight: bold;
  font-size: 2.75rem;
}
/* DESKTOP VIEW */

@media only screen and (min-width: 720px) {
}
