
.AdVotes{
  display: flex;
  flex-direction: column;
}

.adsDiv {
  display: flex;
  justify-content: center;
  height: 20vh;
  width: 100vw;
}

@media only screen and (min-width: 720px) {
  .AdVotes {
   
    flex-direction:row;
  }
}

